# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.venv/
venv/
ENV/
env/

# Database
data/*.db
data/*.db-journal

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Other
notes.md
